franquiciamtis/src/main/app/franquiciamtis.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="9090" doc:name="HTTP Listener Configuration"/>
    <ws:consumer-config name="Web_Service_Consumer" service="AlquilerVehiculos" port="AlquilerVehiculosSOAP" serviceAddress="http://localhost:9080/serviceAlquilerVehiculos/services/AlquilerVehiculos/" wsdlLocation="http://localhost:9080/serviceAlquilerVehiculos/services/AlquilerVehiculos?wsdl" doc:name="Web Service Consumer"/>
    <flow name="franquiciamtisFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="*" doc:name="HTTP"/>
        <set-variable variableName="params" value="#[message.inboundProperties.'http.request.path']" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.params == &quot;/obtenerVehiculosAlquiler&quot;]">
                <flow-ref name="flowObtenerVehiculosAlquiler" doc:name="flowObtenerVehiculosAlquiler"/>
            </when>
            <otherwise>
                <set-payload value="&quot;El flujo introducido no existe&quot;" doc:name="Set Payload"/>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="flowObtenerVehiculosAlquiler">
        <dw:transform-message metadata:id="5f2c8e1e-55d7-4756-9589-9e538b2afe32" doc:name="Transform Message">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.example.org/AlquilerVehiculos/
---
{
	ns0#ObtenerVehiculos: {
		modelo: payload.modelo,
		marca: payload.marca,
		color: payload.color
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="ObtenerVehiculos" doc:name="Web Service Consumer"/>
        <dw:transform-message metadata:id="5526878d-d752-4532-8b2c-425d6cc92794" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://www.example.org/AlquilerVehiculos/
---
payload.ns0#ObtenerVehiculosResponse.*vehiculos map ((vehiculo , indexOfVehiculo) -> {
	id: vehiculo.idVehiculo,
	marca: vehiculo.marca,
	modelo: vehiculo.modelo,
	color: vehiculo.color,
	precio: vehiculo.precio as :string
})]]></dw:set-payload>
        </dw:transform-message>
    </sub-flow>
</mule>
